*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}
.logo{
    background: url(../img/imagen1.jpg) no-repeat center center;
    background-size: contain;
    width: 250px;
    height: 125px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.menu a{
    color: aqua;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 600;
}
header{
    text-align: center;
    padding: 100px 20px;
    background: url('') no-repeat center center;
    background-size: cover;
}
body{
    background: url(../img/images4.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}
section{
    padding: 60px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 20px;
    border-radius: 10px;
}